# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/dist/

# Production build
/build

# Environment variables
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
